body{
    font-family: "arial";
    font-size: medium;
    margin-left: 120px;
    margin-top: 30px;
}

table {
    width: 500px;

}

table, th, td {
    border: 1px solid black;
    padding: 2px;
    border-collapse: collapse;
}

th{
    background-color: #176c9a;
    color : #FFFFFF;
}

.error {
    color: orangered;
    font-weight: bold;
}