body{
    font-family: "arial";
    font-size: medium;
    margin-left: 95px;
    margin-top: 30px;
}

table {
    width: 500px;

}

table, th, td {
    border: 1px solid black;
    padding: 2px;
    border-collapse: collapse;
}

.btn {
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    font-size: medium;
    background-color: palegreen;
    color: darkblue;
}

.pagination {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: lightsteelblue;
    color: midnightblue;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

th{
    background-color: #176c9a;
    color : #FFFFFF;
}

.error {
    color: orangered;
    font-weight: bold;
}