<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

  <display-name>Archetype Created Web Application</display-name>

   <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
   </jsp-config>

  <context-param>
      <param-name>javax.servlet.jsp.jstl.fmt.request.charset</param-name>
      <param-value>UTF-8</param-value>
  </context-param>

  <servlet>
      <servlet-name>ServletOne</servlet-name>
      <servlet-class>ua.train.project_logistics_servlets.controller.ServletOne</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>ServletOne</servlet-name>
      <url-pattern>/app/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ua.train.project_logistics_servlets.controller.filters.EncodingFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
  </filter>
  <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>ua.train.project_logistics_servlets.controller.filters.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/app/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>ua.train.project_logistics_servlets.controller.filters.LocaleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

<!--    <listener>-->
<!--        <listener-class>-->
<!--            ua.train.project_logistics_servlets.controller.listener.ContextListener-->
<!--        </listener-class>-->
<!--    </listener>-->

<!--    <listener>-->
<!--        <listener-class>-->
<!--            ua.train.project_logistics_servlets.controller.listener.SessionListener-->
<!--        </listener-class>-->
<!--    </listener>-->

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/error.jsp</location>
  </error-page>

</web-app>
